.income-amount {
    color: green;
}

.expense-amount {
    color: red;
}

#home-category-tables-wrapper {
    display: flex;
    width: 91%;
    margin: auto;
    justify-content: space-between;
}

#home-categories-table {
    width: 55%;
}

.full-width {
    width: 100% !important;
}

#home-subcategories-table {
    width: 43%;
}

.display-none {
    display: none !important;
}

@media (max-width: 820px) {
    #home-category-tables-wrapper {
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #home-categories-table {
        width: 100%
    }

    #home-subcategories-table {
        width: 100%
    }
}